body {
    font-family: 'IBM Plex Serif', serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/* Header stuff here */
header {
    background-color: #1D1D1D;
    padding: 1rem 2vw;
}
header h1 {
        margin: 0;
        color: #E9E9E9;
}
header p {
        margin: 0;
        color: #E9E9E9;
        letter-spacing: 0.5px;
}

/* nav stuff here */
nav {
    background-color: #B6A376; 
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #1D1D1D;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}
nav li.active a {
    background-color: #1D1D1D;
    color: #B6A376;
}
nav a:hover {
    color: white;
}

/* Stuff for main*/
main{
    padding: 1rem 2vw;
}
main h1 {
    color: #9F110E;
}
main h2 {
    color: #1D1D1D;
    margin-bottom: .2rem;
}
main p {
    color: #2f3133;
    margin: 0 0 .3rem 0;
}

main ol{
    color: #E9E9E9; 
    padding: .7rem 4vw;
    background-color: #1D1D1D
}

main dl dt {
    color: #9F110E;
    font-weight: 700;
}
main dl dd {
    color: #1D1D1D;
    font-size: .9rem;
}
/* This took me so long to figure out but I did it all on my own and Im so proud of myself */
main li.square {
    list-style-type: square;
}
main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main address {
    font-weight: 700;
    color: #1D1D1D;
    background-color: #B6A376;
    padding: .5rem;
    border: 1px solid #B6A376;
    border-radius: 5px;
}

main address a{
    color: #1D1D1D;
}

Main a {
    color: #9F110E;
}
Main a:hover {
    color: rgb(239, 0, 24);
}
/* footer stuff here */
footer {
    background-color: #1D1D1D;
    text-align: center;
    color: #E9E9E9;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color: #B6A376;
}